<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Admin Dashboard</title>
    </head>
    <header class="header">
      <img src="../static/logo.png" class="logo">
      <h1>FRONT DESK PORTAL</h1>
      <form action="{{ url_for('logout') }}" method="post">
          <button type="submit" class="purchase--btn">Logout</button>
      </form>
    </header>
<body>
  <table style="width:100%;">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Admission Number</th>
        <th>Purpose</th>
        <th>Mode</th>
        <th>Class Teacher</th>
        <th>Status</th>
        <th>OTP</th>
    </tr>
    {% for row in final_data %}
    <tr>
        <td>{{ row[0] }}</td> <!-- Date -->
        <td>{{ row[1] }}</td> <!-- Student Name -->
        <td>{{ row[2] }}</td> <!-- Class -->
        <td>{{ row[3] }}</td> <!-- Admission Number -->
        <td>{{ row[4] }}</td> <!-- Class Teacher -->
        <td>{{ row[5] }}</td> <!-- Status -->
        <td>{{ row[6] }}</td> <!-- OTP -->
        <td>{{ row[7] }}</td> <!-- Time (ETD or actual departure time) -->
    </tr>
    {% endfor %}
  </table><br><b><br>

      
</body>
</html>