<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Login</title>
</head>
<header class="header">
    <img src="../static/logo.png" class="logo">
    <h1>GATEPASS REQUEST SYSTEM</h1>
  </header>
<body>
    <form method="POST" class="form">
        <p>
            Welcome,<span>Sign in to continue</span>
        </p>
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password"> 
        <button class="oauthButton" type="submit">
            Continue
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 17 5-5-5-5"></path><path d="m13 17 5-5-5-5"></path></svg>
        </button>
    </form>
    
</body>
</html>